* {
    margin: 0;
    padding: 0;
}

body {
  background: linear-gradient(#ee9ca7, #ffdde1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px ;
  border: 1px solid black;
  border-radius: 10px;
}

.wrapper h1 {
  margin-bottom: 70px;
  font-size: 55px;
  font-weight: 100;
}

.addTask input {
    font-size: 16px;
    padding: 10px;
    width: 20rem;
    border-radius: 5px;

    outline: none;
    border: none;
}

.button {
  font-size: 16px;
  padding: 10px 0 5px 0;
  width: 20rem;
  margin-top: 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: #f48282;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.35s;
}

.button:hover {
  background-color: #f16363d1;
}


.update {
  background: #c5f482;
}

.update:hover {
  background: #d3f89e;
}


.todo-list {
    margin: 30px 0;
    max-height: 200px;
    border-radius: 5px;

    background: #ec8888;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(58, 58, 58);
}

.todo-list li {
    font-size: 16px;
    padding: 20px;
    width: 300px;
    height: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
    overflow: hidden;
}

.todo-list li i {
    margin-right: 5px;
    padding: 10px;
} 

.todo-list li .icon {
  cursor: pointer;
  padding: 10px;
  transition: 0.35s;
  transform: translateX(120px);
}

.todo-list li:hover .icon {
  transform: translateX(30px);
}

.todo-list li i:hover{
  background: rgba(222, 101, 101, 0.814);
  border-radius: 10px;
  color: black;
}



